/*Geral*/

*{
    padding:0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    box-sizing: border-box;
}

body{
    background-image: url(../Image/BG_Computing_Quimic.png);
    background-position: center;
    background-size: cover;

}

button {
    background-color: #fdfdfd;
    color: #102f5e;
    border: 2px solid #102f5e;
    padding: .3rem .6rem;
    font-size: .7rem;
    cursor: pointer;
    align-items: center;
    transition: 0.4s;

}

button:hover {
    background-color: #102f5e;
}

button:hover > i {
    color: #fdfdfd;
}

