/*Geral*/

*{
    padding:0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    box-sizing: border-box;
}

body{
    background-image: url(../Image/BG_Computing_Quimic.png);
    background-position: center;
    background-size: cover;

}